<ion-grid padding>
	<ion-row>
		<ion-col col-6>
			<div class="page-title">Playlist</div>
			<p>Recently played or added</p>
		</ion-col>
		<ion-col col-6 text-left>
			<button ion-button color="primary" small (click)="showPromptForNewPlaylist()">NEW PLAYLIST</button>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col col-6 *ngFor="let Playlist of Playlists">
			<ion-card>
			  <div class="album-art" (click)="openPlaylist(Playlist.id)"><img src="http://lorempixel.com/120/120/"/></div>
			  <ion-card-content>
			  	<ion-grid>
			  		<ion-row>
			  			<ion-col col-10 (click)="openPlaylist(Playlist.id)">
			  				<ion-card-title text-nowrap>
			  				  {{Playlist.name}}
			  				</ion-card-title>
			  				<p class="card-artist-name">{{Playlist.owner}}</p>
			  			</ion-col>
			  			<ion-col col-2 text-center>
			  				<button ion-button color="primary" class="more" clear small (click)="presentActionSheet(Playlist.id)"><ion-icon name="more"></ion-icon></button>
			  			</ion-col>
			  		</ion-row>
			  	</ion-grid>
			  </ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
</ion-grid>