<ion-grid padding>
	<ion-row>
		<ion-col col-12>
			<div class="page-title">Artists</div>
			<p>List of Artists</p>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col col-6 *ngFor="let Artist of Artists">
			<ion-card>
			  <div class="album-art" (click)="openArtist(Artist.id)"><img src="http://lorempixel.com/120/120/"/></div>
			  <ion-card-content>
			  	<ion-grid>
			  		<ion-row>
			  			<ion-col col-10 (click)="openArtist(Artist.id)">
			  				<ion-card-title text-nowrap>
			  				  {{Artist.name}}
			  				</ion-card-title>
			  				<p class="card-artist-name">{{Artist.albumCount}} Albums</p>
			  			</ion-col>
			  			<ion-col col-2 text-center>
			  				<button ion-button color="primary" class="more" clear small (click)="presentActionSheet(Playlist.id)"><ion-icon name="more"></ion-icon></button>
			  			</ion-col>
			  		</ion-row>
			  	</ion-grid>
			  </ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
</ion-grid>