<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{Album.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="page-album">
	<ion-card>
	  <img src="http://lorempixel.com/400/200/"/>
	  <ion-card-content no-padding>
	  	<ion-fab>
	  	  <button ion-fab mini><ion-icon name="play"></ion-icon></button>
	  	</ion-fab>
	    <ion-card-title text-right>
	      {{Album.name}}
	    </ion-card-title>
	    <ion-grid>
	    	<ion-row>
	    		<ion-col col-2 text-right>
	    			<button ion-button color="grey" class="contact" clear small item-right><ion-icon name="contact"></ion-icon></button>
	    		</ion-col>
	    		<ion-col col-8 text-right>
	    			<div class="album-info-artist-name">{{Album.artist}}</div>
	    			<div class="album-info-tracks">Tracks {{Album.songCount}}</div>
	    		</ion-col>
	    		<ion-col col-2>
	    			<button (click)='presentActionSheet(Album.id)' ion-button color="grey" class="more-album" clear small item-right><ion-icon name="more"></ion-icon></button>
	    		</ion-col>
	    	</ion-row>
	    </ion-grid>
	  </ion-card-content>
	</ion-card>
	<ion-list no-lines style="margin-top: 5px;">
	  <ion-item *ngFor="let Song of Album.song">
	     	<ion-icon class="menu-icon" name="musical-notes" item-left></ion-icon>
			<div class="track-name">
				{{Song.title}}
			</div>
			<div class="artist-name">
				{{Song.artist}}
			</div>
	      	<button ion-button color="grey" class="more" clear small item-right><ion-icon name="more"></ion-icon></button>
	  </ion-item>
	</ion-list>
</ion-content>
