<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Listen now</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-home">
	<!--
  	<ion-grid padding>
  		<ion-row>
  			<ion-col col-8>
  				<div class="page-title">Recent Activity</div>
  				<p>Recently played or added</p>
  			</ion-col>
  			<ion-col col-4 text-left>
  				<button ion-button color="primary" small>More</button>
  			</ion-col>
  		</ion-row>
  	</ion-grid>
  	<ion-grid no-padding>
  		<ion-row>
  			<ion-col col-4 *ngFor="let Album of Albums">
  				<ion-card>
  				  <img src="http://lorempixel.com/80/80/"/>
  				  <ion-card-content>
  				    <ion-card-title text-wrap>
  				      {{Album.name}}
  				    </ion-card-title>
  				    <p class="card-artist-name">{{Album.artist}}</p>
  				  </ion-card-content>
  				</ion-card>
  			</ion-col>
  		</ion-row>
  	</ion-grid>
  	-->

  	<div no-padding>
  	  <ion-segment [(ngModel)]="pet">
        <ion-segment-button value="Playlists">
          Playlists
        </ion-segment-button>
  	    <ion-segment-button value="Albums">
  	      Albums
  	    </ion-segment-button>
  	    <ion-segment-button value="Artists">
  	      Artists
  	    </ion-segment-button>
  	    <ion-segment-button value="Geners">
  	      Geners
  	    </ion-segment-button>
  	  </ion-segment>
  	</div>
  	<div [ngSwitch]="pet">
  	  <ion-grid no-padding *ngSwitchCase="'Playlists'">
  	  	<playlists></playlists>
  	  </ion-grid>

  	  <ion-list *ngSwitchCase="'Artists'">
        <artists></artists>
  	  </ion-list>

  	  <ion-list *ngSwitchCase="'Geners'">
        <geners></geners>
  	  </ion-list>
  	</div>
</ion-content>
