.page-home{
	
}
.page-home .page-title{
	font-size: 16px;
}
.page-home p{
	margin: 0px;
	color: color($colors, grey);
	font-size: 12px;
}
.page-home .button {
  height: 25px;
  padding: 3px 10px;
}
.page-home ion-card-content{
	padding: 3px 7px 3px 7px;
	margin: 0px;
}
.page-home ion-card-content ion-grid, .page-home ion-card-content ion-row, .page-home ion-card-content ion-col{
	padding: 0px;
	margin: 0px;
}
.page-home ion-card-content .more{
	margin-top: 12px;
	color: color($colors, grey);
}
.page-home ion-card-title{
	font-size: 12px;
	padding: 0px;
	margin: 5px;
}
.page-home .card-artist-name{
	font-size: 10px;
	margin: 5px;
}
.page-home .segment-button{
	color: color($colors,white);
	background-color: color($colors,primary);
	height: 35px;
	line-height: 3.7rem;
	font-weight: 100;
}
.page-home .segment-activated{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}