<ion-grid padding>
	<ion-row>
		<ion-col col-12>
			<div class="page-title">Geners</div>
			<p>List of Geners</p>
		</ion-col>
	</ion-row>
	<ion-card *ngFor="let Genre of Geners">
	  <img src="http://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png"/>
	  <div class="card-title">{{Genre.value}}</div>
	  <div class="card-subtitle">{{Genre.albumCount}} Albums</div>
	</ion-card>
</ion-grid>