// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-navbar.toolbar {
  min-height: 40px;
}
ion-title .toolbar-title {
	font-size: 14px;
}
#avatar {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    
    
    /* make a square container */
    width: 50px;
    height: 50px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
    margin: 20px;
}
#username{
	color: color($colors,grey);
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	margin-right: 20px;
	font-weight: bold;
}
#email{
	color: color($colors,grey);
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	margin-right: 20px;
}
#membership-card-no{
	color: color($colors,white);
	font-size: 14px;	
}
#edit-profile{
	color: color($colors,white);
	font-size: 14px;
	font-weight: bold;	
}
.primary-menu-header{
	background-color: color($colors,white)
}
.points-bar{
	margin-top: 20px;
	background-color: color($colors,primary);
	border-bottom: 4px solid #5f7d8c;
}
.toolbar1{
	margin-top: 20px;
	background-color: color($colors, primary);
}
.toolbar ion-col p{
	padding-right: 20px;
	color: color($colors,white);
	font-weight: bold;
}
.primary-menu-header h3.available_points{
	color: color($colors,white);
}
.primary-menu-header h1.points{
	color: color($colors,white);
	font-size: 18px;	
}
.primary-menu{
	margin-top: 20px
}
.primary{
	background-color: color($colors,white);
}

.menu-icon{
	font-size: 20px !important;
	color: color($colors,grey);
	padding-top: 5px !important;
}

ion-item{
	font-size: 14px !important;	
	font-weight: normal !important;
	color: color($colors,black);
	border: none !important;
}