<ion-menu [content]="content" class="my-component" (notify)="onProfileReady($event)">
  <ion-header class="primary-menu-header">
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-12>
            <ion-avatar item-right>
              <div text-right id="avatar">
                <img src="./assets/images/avatar-male.png">
              </div>
              <p text-right id="username">
                Ali Waqas
              </p>
              <p text-right id="email">
               Waqas@gmail.com
              </p>
            </ion-avatar>
          </ion-col>
        </ion-row>
        <ion-row class="toolbar">
          <ion-col col-6 text-right>
            <p menuClose (click)="openProfilePage()">Edit Profile</p>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-header>
  <ion-content class="primary-menu">
    <ion-list no-lines>
      <ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon class="menu-icon" name="{{p.icon}}" item-left></ion-icon>
          {{p.title}}
          <ion-badge item-right *ngIf="p.badge">{{p.badge}}</ion-badge>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>