artist{
	ion-navbar .toolbar {
	  min-height: 40px;
	  background-color: white !important;
	}
	.button-md{
		margin: 0px !important;
	}
	.card-md{
		box-shadow: none !important;
	}
	ion-card-content ion-grid, ion-card-content ion-row, ion-card-content ion-col{
		padding: 0px !important;
		margin: 0px !important;
	}
	ion-card {
		position: relative;
		text-align: center;
		padding: 0px !important;
		margin:  0px !important;
		width: 100% !important;
	}
	.album-info-artist-name{
		color: color($colors, dark);
		font-size: 13px;
	}
	.artist-info-album{
		color: color($colors, grey);
		font-size: 13px;
		margin-top: 15px;
	}
	.contact{
		font-size: 20px !important;
		color: color($colors, dark);
	}
	.more-album{
		font-size: 20px !important;
		color: color($colors, dark);
	}
	ion-card ion-card-content{
	}
	ion-card ion-card-content ion-card-title{
		text-align: right;
		font-size: 18px !important;
		margin-right: 20px !important;
	}
	ion-item{
		padding: 0px !important;
		margin: 0px !important;
		margin-right: 10px !important;
	}
	.track-name{
		font-size: 13px;
		color: color($colors, black);
	}
	.artist-name{
		font-size: 12px;
		color: color($colors, grey);
	}
	ion-fab{
	  position: absolute;
	  top: 143px;
	  right: 83%;
	  color: #fff;
	}
}