<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{Artist.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="page-album">
	<ion-card>
	  <img src="http://lorempixel.com/400/200/"/>
	  <ion-card-content no-padding>
	    <ion-card-title text-right>
	      {{Artist.name}}
	    </ion-card-title>
	    <ion-grid>
	    	<ion-row>
	    		<ion-col col-2 text-right>
	    			<button ion-button color="grey" class="contact" clear small item-right><ion-icon name="contact"></ion-icon></button>
	    		</ion-col>
	    		<ion-col col-8 text-right>
	    			<div class="artist-info-album">Albums {{Artist.albumCount}}</div>
	    		</ion-col>
	    		<ion-col col-2>
	    			<button ion-button color="grey" class="more-album" clear small item-right><ion-icon name="more"></ion-icon></button>
	    		</ion-col>
	    	</ion-row>
	    </ion-grid>
	  </ion-card-content>
	</ion-card>
	<ion-list no-lines style="margin-top: 5px;">
	  <ion-item *ngFor="let Album of Artist.album">
	     	<ion-icon class="menu-icon" name="albums" item-left></ion-icon>
	     	<div (click)="openAlbum(Album.id)">
				<div class="track-name">
					{{Album.album}}
				</div>
				<div class="artist-name">
					Tracks {{Album.songCount}}
				</div>
			</div>
	      	<button ion-button color="grey" class="more" clear small item-right><ion-icon name="more"></ion-icon></button>
	  </ion-item>
	</ion-list>
</ion-content>
